<!-- <div class="wrapper">
    <ion-button (click)="openModal()">ABRIR MODAL</ion-button>
    <div *ngIf="this.selected && this.selected.length >= 1">
        <ion-title *ngFor="let item of this.selected">Item selecionado: {{item.name}}</ion-title>
    </div>

</div> -->

<button (click)="clearS()">clear</button>

<ionic-mobile-selector #mySelector placeholder="" [list]="list" (imsChange)="imsChange($event)" [hideDismiss]='hideDismiss'></ionic-mobile-selector>
<ionic-mobile-selector #mySelector placeholder="" [list]="list" (imsChange)="imsChange($event)" [labelSelectAll]="labelSelectAll" ></ionic-mobile-selector>
